@model Tipstaff.Models.TipstaffNPO

@{
    ViewBag.Title = string.Format("Add/Edit NBTC for {0}", Model.UniqueRecordID);
}
@{
    string controller = genericFunctions.TypeOfTipstaffRecord(Model.tipstaffRecordID);
    string display = controller == "Warrant" ? "Warrants" : "Child Abductions";
    string nameType = controller == "Warrant" ? "Contemnor" : "Respondent";
}
    <h6>
        @Html.ActionLink(display, "Index", controller)
    > @Html.ActionLink(Model.UniqueRecordID, "Details", controller, new { id = Model.tipstaffRecordID }, null)
    > Add/Edit NBTC
    </h6>

@using (Html.BeginForm())
{ 
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken();
    <fieldset>
        <legend>@ViewBag.Title</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.NPO, true)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NPO)
            @Html.ValidationMessageFor(model => model.NPO)
        </div>
        @Html.HiddenFor(model => model.tipstaffRecordID)
        @Html.HiddenFor(model => model.UniqueRecordID)
        <p>
            <input type="submit" value="Save" />
        </p>
        <div>Fields marked<span class="required-star">*</span> are mandatory and must be completed before the record can be saved.</div>
    </fieldset>
}
