@model Tipstaff.Models.DocumentType

@{
    ViewBag.Title = string.Format("Deactivate document type {0}", Model.Detail);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h6>@Html.ActionLink("Administration", "Index", "Admin") 
> @Html.ActionLink("Lookups", "Lookups", "Admin") 
> @Html.ActionLink("Document types", "Index") 
> @Html.ActionLink(Model.Detail, "Details", "Document type", new { id = Model.documentTypeID }, null)
> Deactivate</h6>

<fieldset>
    <legend>Are you sure you want to deactivate @Model.Detail?</legend>

    <div class="display-label">@Html.LabelFor(model=>model.Detail)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Detail)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    <p>
        <input type="submit" value="Deactivate" /> 
    </p>
}


