@model Tipstaff.Models.DocumentTypeListView

@{
    ViewBag.Title = "Document Types";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head
{
    <link href="@Url.Content("~/Content/PagedList.css")" rel="stylesheet" type="text/css" media="screen" />
    <link href="@Url.Content("~/Content/newPagedListButtons.css")" rel="stylesheet" type="text/css" media="screen" />
    <style type="text/css">
        form {display:inline;}
    </style>
}
<h1>@ViewBag.Title</h1>
<h6>@Html.ActionLink("Administration", "Index", "Admin") 
> @Html.ActionLink("Lookups", "Lookups", "Admin") 
> Document Types</h6>

<p>

	@Html.ImageAndTextLink(Url.Content("~/Images/add.png"), "Create new Document Type", "Create new Document Type", "Create", null, null, null, null, "createButton")

</p>

<table>
    <tr>
        <th></th>
        <th>
            @Html.LabelFor(model=>model.DocumentTypes.First().Detail)
        </th>
        <th>
            @Html.LabelFor(model => model.DocumentTypes.First().active)
        </th>
        <th>
            @Html.LabelFor(model => model.DocumentTypes.First().deactivated)
        </th>
        <th>
            @Html.LabelFor(model => model.DocumentTypes.First().deactivatedBy)
        </th>
    </tr>

@{   var isAltRow = false;
    foreach (var item in Model.DocumentTypes)
    {
    <tr class="@(isAltRow ? "altRow" : "")">
        <td width="60px">
            @if (item.active)
            {
            @Html.ImageLink(Url.Content("~/Images/edit.png"), "Edit", "Edit", "DocumentType", new { id = item.documentTypeID }, null, null)
            @Html.ImageLink(Url.Content("~/Images/delete.png"), "Deactivate", "Deactivate", "DocumentType", new { id = item.documentTypeID }, null, null) 
            }
            @Html.ImageLink(Url.Content("~/Images/Audit.png"), "Audit", "Audit", "Audit", new { area = "", auditType = "DocumentType", id = item.documentTypeID }, null, null) 
        </td>
		
        <td>
            @Html.ImageAndTextLink(Url.Content("~/Images/view.png"), item.Detail, string.Format("Details for {0}", item.Detail), "Details", "DocumentType", new { id = item.documentTypeID }, null, null, "createButton")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.deactivated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.deactivatedBy)
        </td>
    </tr>
 	isAltRow = !isAltRow;
	}
}
</table>
@{
    var token = @Html.AntiForgeryToken().ToHtmlString();

    var beginIndex = token.IndexOf("value=\"") + 7;
    var endIndex = token.IndexOf("\"", beginIndex);
    token = token.Substring(beginIndex, endIndex - beginIndex);

}
@Html.SSGPaging("Index", "DocumentType", Model, Model.DocumentTypes, token)
