@model Tipstaff.Models.DeleteChild

@{
    ViewBag.Title = string.Format("Delete Child record from {0}", Model.Child.childAbduction.UniqueRecordID);
}
    <h1>@ViewBag.Title</h1>
<h6>
@Html.ActionLink("Child Abductions", "Index", "ChildAbduction") > 
@Html.ActionLink(Model.Child.childAbduction.UniqueRecordID,"Details","ChildAbduction", new{id=Model.Child.tipstaffRecordID},null) > 
@Html.ActionLink(string.Format("(Child) {0}", Model.Child.PoliceDisplayName),"Details",new{id=Model.Child.childID}) > Delete
</h6>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
<fieldset>
    <legend>Are you sure you want to delete this child record from @Model.Child.childAbduction.UniqueRecordID?</legend>
    @Html.HiddenFor(model => model.DeleteModelID)
    @Html.HiddenFor(model => model.Child.childID)
    <div class="display-label">@Html.LabelFor(m=>Model.Child.PoliceDisplayName)</div>
    <div class="display-field">
        @Html.DisplayFor(m=>Model.Child.PoliceDisplayName)
    </div>
    <div class="display-label">@Html.LabelFor(m=>Model.Child.DateofBirthDisplay)</div>
    <div class="display-field">
        @Html.DisplayFor(m=>Model.Child.DateofBirthDisplay)
    </div>
    <div class="display-label">@Html.LabelFor(model=>Model.Child.genderID) </div>
    <div class="display-field">
        @Html.DisplayFor(model => Model.Child.gender.detail) 
    </div>

    <div class="display-label">@Html.LabelFor(model=>Model.Child.height) </div>
    <div class="display-field">
        @Html.DisplayFor(model => Model.Child.height) 
    </div>

    <div class="display-label">@Html.LabelFor(model=>Model.Child.build) </div>
    <div class="display-field">
        @Html.DisplayFor(model => Model.Child.build) 
    </div>

    <div class="display-label">@Html.LabelFor(model=>Model.Child.hairColour) </div>
    <div class="display-field">
        @Html.DisplayFor(model => Model.Child.hairColour) 
    </div>

    <div class="display-label">@Html.LabelFor(model=>Model.Child.eyeColour) </div>
    <div class="display-field">
        @Html.DisplayFor(model => Model.Child.eyeColour) 
    </div>

    <div class="display-label">@Html.LabelFor(model=>Model.Child.skinColourID) </div>
    <div class="display-field">
        @Html.DisplayFor(model => Model.Child.SkinColour.Detail) 
    </div>

    <div class="display-label">@Html.LabelFor(model=>Model.Child.specialfeatures) </div>
    <div class="display-field">
        @Html.DisplayFor(model => Model.Child.specialfeatures) 
    </div>

    <div class="display-label">@Html.LabelFor(model=>Model.Child.countryID) </div>
    <div class="display-field">
        @Html.DisplayFor(model => Model.Child.country.Detail) 
    </div>

    <div class="display-label">@Html.LabelFor(model=>Model.Child.nationalityID) </div>
    <div class="display-field">
        @Html.DisplayFor(model => Model.Child.nationality.Detail) 
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.DeletedReasonID,true)
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(model => model.DeletedReasonID, Model.DeletedReasons, "Please select a reason for deletion", new { @class = "required" })
        @Html.ValidationMessageFor(model => model.DeletedReasonID)
    </div>
</fieldset>
    <p>
        <input type="submit" value="Delete" /> 
    </p>
}