@model Tipstaff.Models.Gender

@{
    ViewBag.Title = ViewBag.Title = string.Format("Edit gender {0}", Model.detail);
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <h1>@ViewBag.Title</h1>
<h6>@Html.ActionLink("Administration", "Index", "Admin") 
> @Html.ActionLink("Lookups", "Lookups", "Admin") 
> @Html.ActionLink("Genders","Index") 
> @Html.ActionLink(Model.detail, "Details", "Gender", new { id = Model.genderID }, null)
> Edit</h6>

	
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken();
    <fieldset>
        <legend>@ViewBag.Title</legend>
        @Html.HiddenFor(model => model.genderID)
        @Html.HiddenFor(model => model.active)

        <div class="editor-label">
            @Html.LabelFor(model => model.detail, true)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.detail)
            @Html.ValidationMessageFor(model => model.detail)
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

