@model Tipstaff.Models.DetailsViewModel

@{
    ViewBag.Title = string.Format("User Details: {0}",Model.DisplayName);
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head {
<link href="@Url.Content("~/Content/MvcMembership.css")" rel="stylesheet" type="text/css" />
}
<h1>@ViewBag.Title</h1>
<h6>@Html.ActionLink("Administration", "Index", "Admin") 
> @Html.ActionLink("Users","Index", "User") 
> @Html.ActionLink(string.Format("User Details: {0}", Model.DisplayName),"Edit", "User", new { id = Model.User.ProviderUserKey }, null) [@Html.DisplayFor(model => model.Status)] 
> Password</h6>
<ul class="mvcMembership-tabs">
	<li>Password</li>
	<li>@Html.ActionLink("Roles", "Roles", "User", new { id = Model.User.ProviderUserKey }, null)</li>
</ul>

<fieldset>
    <legend>Password for @Model.DisplayName</legend>
        @if (Model.User.IsLockedOut)
        { 
            <div>Locked out since @Model.User.LastLockoutDate.ToString("MMMM dd, yyyy h:mm:ss tt", System.Globalization.CultureInfo.InvariantCulture) </div> 
            using (Html.BeginForm("Unlock", "User", new { id = Model.User.ProviderUserKey }))
            { 
            <input type="submit" value="Unlock Account" />
            }
        }
@using (Html.BeginForm("ResetPassword", "User", new { id = Model.User.ProviderUserKey }))
{
    @Html.AntiForgeryToken();
    if (!Model.User.IsLockedOut)
    {
        if (Model.User.LastPasswordChangedDate == Model.User.CreationDate)
        {
		<dl class="mvcMembership">
			<dt>Last Changed:</dt>
			<dd><em>Never</em></dd>
		</dl>
        }
        else
        {
		<dl class="mvcMembership">
			<dt>Last Changed:</dt>
			<dd>@Model.User.LastPasswordChangedDate.ToString("MMMM dd, yyyy h:mm:ss tt", System.Globalization.CultureInfo.InvariantCulture) </dd>
		</dl>
        }
    } 
    if (ViewBag.email != null)
    { 
        <h2>  @ViewBag.email</h2> 
        <div><a href="@ViewBag.emailLink">Send mail to user</a></div>                    
    }
        <input type="submit" value="Reset Password" style="margin-top:1em;"/>
} 
</fieldset>
