@model Tipstaff.Models.DetailsViewModel
@{
    ViewBag.Title = string.Format("User Details: {0}",Model.DisplayName);
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head {
    <link href="@Url.Content("~/Content/MvcMembership.css")" rel="stylesheet" type="text/css" />
}
<h6>@Html.ActionLink("Administration", "Index", "Admin") 
> @Html.ActionLink("Users","Index", "User") 
> @Html.ActionLink(string.Format("User Details: {0}", Model.DisplayName),"Edit", "User", new { id = Model.User.ProviderUserKey }, null) [@Html.DisplayFor(model => model.Status)] 
> Roles</h6>
<ul class="mvcMembership-tabs">
	<li>@Html.ActionLink("Password", "Password", "User", new { id = Model.User.ProviderUserKey }, null)</li>
	<li>Roles</li>
</ul>

<fieldset>
    <legend>Roles for @Model.DisplayName</legend>
	<ul class="mvcMembership" style="list-style:none;">
    @foreach (var role in Model.Roles)
    {
        <li>
        @role.Key
        @if (role.Value)
        {
            using (Html.BeginForm("RemoveFromRole", "User", new { id = Model.User.ProviderUserKey, role = role.Key }))
            {
                @Html.AntiForgeryToken();
                <input type="submit" value="Remove from" />
            }
        }
        else
        {
            using (Html.BeginForm("AddtoRole", "User", new { id = Model.User.ProviderUserKey, role = role.Key }))
            {
                @Html.AntiForgeryToken();
                <input type="submit" value="Add to" />
            }

        } 
        </li>
    }
	</ul>
</fieldset>
