@model Tipstaff.Models.ForcePasswordModel
@{
    ViewBag.Title = "Change password";
}
    
    <div class="message error" style="padding:10px;margin-top:2em;">
	    <span></span>
	    <h6>Change Password</h6>
	    <p>Your password must be changed before you can enter the site</p>
    <dl>    
        <dt>Use the form below to change your password. </dt>
        <dd>New passwords are required to be a minimum of @Membership.MinRequiredPasswordLength characters in length.</dd>
        <dd>Password should have a minimum of @Membership.MinRequiredNonAlphanumericCharacters non-alpha numeric @genericFunctions.SingulariseString("characters",Membership.MinRequiredNonAlphanumericCharacters) (@@$!* etc.)</dd>
        <dd>You cannot re-use passwords for 1 year</dd>
    </dl>
    </div>
        @using (Html.BeginForm()) {
        @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")
        <div>
            <fieldset>
                <legend>Account Information</legend>
                <div class="editor-label">
                    @Html.LabelFor(m => m.UserName, true)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(m => m.OldPassword, true)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(m => m.OldPassword)
                    @Html.ValidationMessageFor(m => m.OldPassword)
                </div>
                
                <div class="editor-label">
                    @Html.LabelFor(m => m.NewPassword, true)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(m => m.NewPassword)
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </div>
                
                <div class="editor-label">
                    @Html.LabelFor(m => m.ConfirmPassword, true)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(m => m.ConfirmPassword)
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
                
                <p>
                    <input type="submit" value="Change Password" />
                </p>
            </fieldset>
        </div>
}