@model Tipstaff.Models.DeleteApplicant

@{
    ViewBag.Title = string.Format("Delete {0}", Model.Applicant.fullname);
}
    <h1>@ViewBag.Title</h1>
<h6>@Html.ActionLink("Child Abductions","Index") 
> @Html.ActionLink(Model.Applicant.childAbduction.UniqueRecordID,"Details","ChildAbduction", new{id=Model.Applicant.childAbduction.tipstaffRecordID},null)
> @Html.ActionLink(string.Format("(Applicant) {0}", Model.Applicant.PoliceDisplayName), "Details", "Applicant", new { id = Model.Applicant.ApplicantID }, null)
> Delete</h6>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
<fieldset>
    <legend>Are you sure you want to delete @Model.Applicant.fullname?</legend>

    @Html.HiddenFor(model => model.DeleteModelID)
    @Html.HiddenFor(model => model.Applicant.ApplicantID)

    <div class="display-label">Detail</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Applicant.fullname)
    </div>
    <div class="display-label">Address</div>
    <div class="display-field" style="min-height: 5em; clear:right;">
        @Html.Raw(Model.Applicant.screenAddressMultiLine)
    </div>
    <div class="display-label">email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Applicant.email)
    </div>
    <div class="display-label">secondary phone</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Applicant.secondaryPhone)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.DeletedReasonID, true)
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(model => model.DeletedReasonID, Model.DeletedReasons, "Please select a reason for deletion", new { @class = "required" })
        @Html.ValidationMessageFor(model => model.DeletedReasonID)
    </div>
</fieldset>
    <p>
        <input type="submit" value="Delete" /> 
    </p>
}