@model Tipstaff.Models.Applicant

@{
    ViewBag.Title = "Applicant details";
}
    <h1>@ViewBag.Title</h1>
<h6>@Html.ActionLink("Child Abductions","Index") 
> @Html.ActionLink(Model.childAbduction.UniqueRecordID,"Details","ChildAbduction", new{id=Model.tipstaffRecordID},null)
> Applicant</h6>

<fieldset>
    <legend>Applicant</legend>

    <div class="display-label">@Html.LabelFor(model => model.fullname)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fullname)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.screenAddressMultiLine)</div>
    <div style="display:block;padding-left:218px;">
        @Html.Raw(Model.screenAddressMultiLine)
    </div>

    <div class="display-label">phone</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.phone)
    </div>

    <div class="display-label">email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email)
    </div>

    <div class="display-label">secondary phone</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.secondaryPhone)
    </div>

    @Html.HiddenFor(model => model.tipstaffRecordID)

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ApplicantID })
</p>
