@model Tipstaff.Models.ApplicantEditModel

@{
    ViewBag.Title = string.Format("Edit applicant {0}", Model.applicant.fullname);
}
    <h1>@ViewBag.Title</h1>
<h6>@Html.ActionLink("Child Abductions","Index") 
> @Html.ActionLink(Model.applicant.childAbduction.UniqueRecordID,"Details","ChildAbduction", new{id=Model.applicant.childAbduction.tipstaffRecordID},null)
> @Html.ActionLink(string.Format("(Applicant) {0}",Model.applicant.PoliceDisplayName),"Details","Applicant", new{id=Model.applicant.ApplicantID},null)
> Edit</h6>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken();
    <fieldset>
        <legend>Applicant</legend>

        @Html.HiddenFor(model => model.applicant.ApplicantID)
        @Html.HiddenFor(model => model.applicant.tipstaffRecordID)

        <div class="editor-label">
            @Html.LabelFor(model => model.applicant.salutationID, true)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.applicant.salutationID, Model.SalutationList, "Select a Title", new { @class = "required" })            
            @Html.ValidationMessageFor(model => model.applicant.salutationID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.applicant.nameLast, true)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.applicant.nameLast)
            @Html.ValidationMessageFor(model => model.applicant.nameLast)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.applicant.nameFirst, true)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.applicant.nameFirst)
            @Html.ValidationMessageFor(model => model.applicant.nameFirst)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.applicant.addressLine1, true)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.applicant.addressLine1)
            @Html.ValidationMessageFor(model => model.applicant.addressLine1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.applicant.addressLine2, true)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.applicant.addressLine2)
            @Html.ValidationMessageFor(model => model.applicant.addressLine2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.applicant.addressLine3, true)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.applicant.addressLine3)
            @Html.ValidationMessageFor(model => model.applicant.addressLine3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.applicant.town, true)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.applicant.town)
            @Html.ValidationMessageFor(model => model.applicant.town)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.applicant.county, true)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.applicant.county)
            @Html.ValidationMessageFor(model => model.applicant.county)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.applicant.postcode, true)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.applicant.postcode)
            @Html.ValidationMessageFor(model => model.applicant.postcode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.applicant.phone, true)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.applicant.phone)
            @Html.ValidationMessageFor(model => model.applicant.phone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.applicant.email, true)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.applicant.email)
            @Html.ValidationMessageFor(model => model.applicant.email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.applicant.secondaryPhone, true)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.applicant.secondaryPhone)
            @Html.ValidationMessageFor(model => model.applicant.secondaryPhone)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
