@model List<Tipstaff.Models.CAReportItem>
@using PagedList.Mvc 
@{
    ViewBag.Title = "Active Child Abductions Report";
}
    <h1>@ViewBag.Title</h1>
<h6>@Html.ActionLink("Reports","Index") > @ViewBag.Title</h6>

@Html.ActionLink("Export to Excel", "ChildAbductionsExcel", "Reports")
<table width="100%" style="padding-top:5px;margin-top:5px;">
    <tr>
        <th>URN</th>
        <th>Date to SCD</th>
        <th>NPO</th>
        <th>Child</th>
        <th>Child's DOB</th>
        <th>PNC ID</th>
        <th>Respondent</th>
        <th>Respondent's DOB</th>
        <th>PNC ID</th>
    </tr>

@{
    var isAltRow = false;
    foreach (var ca in Model)
    {
        int numberOfChildren = ca.children.Count();
        int numberOfRespondents = ca.respondents.Count();
        <tr class="@(isAltRow ? "altRow" : "")">
            <td>
                @ca.UniqueRecordID
            </td>
            <td>
                @if (ca.DateCirculated.HasValue)
                {
                    @ca.DateCirculated.Value.ToShortDateString()
                }
                else
                { 
                    @Html.Raw("Unknown")    
                }
            </td>
            <td>
                @ca.NPO
            </td>
            @if (numberOfChildren > 0)
            { 
                <td>
                    @ca.children.ToList()[0].PoliceDisplayName
                </td>
                <td>
                    @ca.children.ToList()[0].DateofBirthDisplay
                </td>
                <td>
                    @ca.children.ToList()[0].PNCID
                </td>
            }
            else
            { 
                <td colspan="3"></td>
            }
            @if (numberOfRespondents > 0)
            { 
                <td>
                    @ca.respondents.ToList()[0].PoliceDisplayName
                </td>
                <td>
                    @ca.respondents.ToList()[0].DateofBirthDisplay
                </td>
                <td>
                    @ca.respondents.ToList()[0].PNCID
                </td>
            }
            else
            { 
                <td colspan="3"></td>
            }
        </tr>
            if (numberOfChildren > 1 || numberOfRespondents > 1)
            {
                int max = numberOfChildren > numberOfRespondents ? numberOfChildren : numberOfRespondents;
                for (int i = 1; i < max; i++)
                {
                <tr class="@(isAltRow ? "altRow" : "")">
                    <td colspan="3"></td>
                    @if (i < numberOfChildren)
                    {
                        <td>
                            @ca.children.ToList()[i].PoliceDisplayName
                        </td>
                        <td>
                            @ca.children.ToList()[i].DateofBirthDisplay
                        </td>
                        <td>
                            @ca.children.ToList()[i].PNCID
                        </td>   
                    }
                    else
                    {
                        <td colspan="3"></td>
                    }
                    @if (i < numberOfRespondents)
                    {
                        <td>
                            @ca.respondents.ToList()[i].PoliceDisplayName
                        </td>
                        <td>
                            @ca.respondents.ToList()[i].DateofBirthDisplay
                        </td>
                        <td>
                            @ca.respondents.ToList()[i].PNCID
                        </td>   
                    }
                    else
                    {
                        <td colspan="3"></td>
                    }
                </tr>
                }
            }
        isAltRow = !isAltRow;
    }
}
</table>
