@model Tipstaff.Models.ClosedCases_StandardReport
@{
    ViewBag.Title = "Closed Child Abductions Report";
}
@section head{
    <link href="@Url.Content("~/Content/form.css")" rel="stylesheet" type="text/css" />
}
<h1>@ViewBag.Title</h1>
<h6>@Html.ActionLink("Reports","Index") > @ViewBag.Title</h6>

@using (Html.BeginForm("ClosedChildAbductions", "Reports", FormMethod.Post, new { autocomplete = "false", @class = "form", style = "width:575px;" }))
{
    @Html.AntiForgeryToken();
    <ul>
        <li class="legend">@ViewBag.Title</li>
        <li>
            @Html.LabelFor(model => model.Start, true)
            @Html.EditorFor(model => model.Start)
        </li>
        <li>
            @Html.LabelFor(model => model.End, true)
            @Html.EditorFor(model => model.End)
        </li>
    </ul>
    <ul style="clear:both;">
        <li id="send">        
            <input type="submit" value="Run Report" />
        </li>
        <li>
            <div>@Html.ValidationMessageFor(model => model.Start)</div>
            <div>@Html.ValidationMessageFor(model => model.End)</div>
            <div>@Html.ValidationMessage("generate")</div>
        </li>
    </ul>
}

@if (Model.CAItems != null)
{ 
    @Html.ActionLink("Export to Excel", "ChildAbductionsExcel", "Reports", new { start = Model.Start, end = Model.End }, null)
    <table width="100%" style="padding-top:5px;margin-top:5px;">
    <tr>
        <th>URN</th>
        <th>Date to SCD</th>
        <th>NPO</th>
        <th>Closed Date</th>
        <th>Child</th>
        <th>Child's DOB</th>
        <th>PNC ID</th>
        <th>Respondent</th>
        <th>Respondent's DOB</th>
        <th>PNC ID</th>
    </tr>

@{
    var isAltRow = false;
    foreach (var ca in Model.CAItems)
    {
        int numberOfChildren = ca.children.Count();
        int numberOfRespondents = ca.respondents.Count();
        <tr class="@(isAltRow ? "altRow" : "")">
            <td>
                @ca.UniqueRecordID
            </td>
            <td>
                @if (ca.DateCirculated.HasValue)
                {
                    @ca.DateCirculated.Value.ToShortDateString()
                }
                else
                { 
                    @Html.Raw("Unknown")    
                }
            </td>
            <td>
                @ca.NPO
            </td>
            <td>
                @ca.ClosedDate.Value.ToShortDateString()
            </td>
            @if (numberOfChildren > 0)
            { 
                <td>
                    @ca.children.ToList()[0].PoliceDisplayName
                </td>
                <td>
                    @ca.children.ToList()[0].DateofBirthDisplay
                </td>
                <td>
                    @ca.children.ToList()[0].PNCID
                </td>
            }
            else
            { 
                <td colspan="3"></td>
            }
            @if (numberOfRespondents > 0)
            { 
                <td>
                    @ca.respondents.ToList()[0].PoliceDisplayName
                </td>
                <td>
                    @ca.respondents.ToList()[0].DateofBirthDisplay
                </td>
                <td>
                    @ca.respondents.ToList()[0].PNCID
                </td>
            }
            else
            { 
                <td colspan="3"></td>
            }
        </tr>
            if (numberOfChildren > 1 || numberOfRespondents > 1)
            {
                int max = numberOfChildren > numberOfRespondents ? numberOfChildren : numberOfRespondents;
                for (int i = 1; i < max; i++)
                {
                <tr class="@(isAltRow ? "altRow" : "")">
                    <td colspan="4"></td>
                    @if (i < numberOfChildren)
                    {
                        <td>
                            @ca.children.ToList()[i].PoliceDisplayName
                        </td>
                        <td>
                            @ca.children.ToList()[i].DateofBirthDisplay
                        </td>
                        <td>
                            @ca.children.ToList()[i].PNCID
                        </td>   
                    }
                    else
                    {
                        <td colspan="3"></td>
                    }
                    @if (i < numberOfRespondents)
                    {
                        <td>
                            @ca.respondents.ToList()[i].PoliceDisplayName
                        </td>
                        <td>
                            @ca.respondents.ToList()[i].DateofBirthDisplay
                        </td>
                        <td>
                            @ca.respondents.ToList()[i].PNCID
                        </td>   
                    }
                    else
                    {
                        <td colspan="3"></td>
                    }
                </tr>
                }
            }
            isAltRow = !isAltRow;
    }
}
</table>
}