@model Tipstaff.Models.Passport

@{
    ViewBag.Title = "Passport details";
    string controller = genericFunctions.TypeOfTipstaffRecord(Model.tipstaffRecordID);
    string display = controller == "Warrant" ? "Warrants" : "Child Abductions";
    string nameType = controller == "Warrant" ? "Contemnor" : "Respondent";
}
    <h1>@ViewBag.Title</h1>
<h6>@Html.ActionLink(display,"Index",controller)
> @Html.ActionLink(Model.tipstaffRecord.UniqueRecordID,"Details",controller, new{id=Model.tipstaffRecordID},null) 
> Passports > Details</h6>

<fieldset>
    <legend>Passport</legend>

    <div class="display-label">@Html.LabelFor(model => model.passportReference)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.passportReference)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.country.Detail)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.country.Detail)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.nationality.Detail)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nationality.Detail)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.documentStatusID)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.documentStatus.Detail)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.comments)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.comments)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.passportID })
</p>
