@model Tipstaff.Models.PassportUploadModel

@{
    ViewBag.Title = string.Format("Edit passport details for {0}", Model.passport.documentReference);
}
@{
    string controller = genericFunctions.TypeOfTipstaffRecord(Model.tipstaffRecordID);
    string display = controller == "Warrant" ? "Warrants" : "Child Abductions";
    string nameType = controller == "Warrant" ? "Contemnor" : "Respondent";
}
<h1>@ViewBag.Title</h1>
<h6>
    @Html.ActionLink(display, "Index", controller)
@*> @Html.ActionLink(Model.tipstaffRecord.UniqueRecordID, "Details", controller, new { id = Model.tipstaffRecord.tipstaffRecordID }, null)*@
> Edit passport
</h6>

@using (Html.BeginForm("Upload", "Passport", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken();
<fieldset>
    <legend>Edit details</legend>

    @Html.EditorFor(model => model.tipstaffRecord.tipstaffRecordID)
    @Html.EditorFor(model => model.tipstaffRecord.UniqueRecordID)

    <div class="editor-label">
        @Html.LabelFor(model => model.passport.documentReference, true)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.passport.documentReference)
        @Html.ValidationMessageFor(model => model.passport.documentReference)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.passport.countryID, true)
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(model => model.passport.countryID, Model.CountryList, "Select a country", new { @class = "required" })
        @Html.ValidationMessageFor(model => model.passport.countryID)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.passport.nationalityID, true)
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(model => model.passport.nationalityID, Model.NationalityList, "Select a nationality", new { @class = "required" })
        @Html.ValidationMessageFor(model => model.passport.nationalityID)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.passport.documentStatusID, true)
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(model => model.passport.documentStatusID, Model.StatusList, "Select a Status", new { @class = "required" })
        @Html.ValidationMessageFor(model => model.passport.documentStatusID)
    </div>
    <div class="editor-label">
        Please select file to upload
    </div>
    <div class="editor-field">
        <input name="uploadFile" type="file" title="Upload file" />
    </div>
    @Html.HiddenFor(model => model.tipstaffRecordID)

    <div class="editor-label">
        @Html.LabelFor(model => model.passport.comments, true)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.passport.comments)
        @Html.ValidationMessageFor(model => model.passport.comments)
    </div>

    <p>
        <input type="submit" value="Create" />
    </p>
</fieldset>
}