@model Tipstaff.Models.UserAdminVM

@{ViewBag.Title = string.Format("Edit {0}", Model.User.DisplayName);}

<h1>User management</h1>

<h2>Edit a user</h2>

@using (Html.BeginForm()){

    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.User.UserID)

    <fieldset class="inner-block">
    <div class="editor-label">User name</div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.User.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.User.DisplayName)
        </div>
        <div class="editor-label">Display name</div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.User.DisplayName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.User.Name)
        </div>
        <div class="editor-label">Role</div>
        <div class="editor-field">
             @Html.DropDownListFor(model => model.User.RoleStrength, Model.Roles, "Please select a role", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.User.RoleStrength)
        </div>
        @Html.ValidationMessage("CreateError")
        <p>
            <input class="button" type="submit" value="Save" onclick="this.disabled=true;this.value='Saving...';this.form.submit();"/>
        </p>
    </fieldset>
}

@Html.SetFocus(m => m.User.Name)
