@model Tipstaff.Models.Country

@{
    ViewBag.Title = string.Format("Deactivate country {0}", Model.Detail);
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <h1>@ViewBag.Title</h1>
<h6>@Html.ActionLink("Administration", "Index", "Admin") 
> @Html.ActionLink("Lookups", "Lookups", "Admin") 
> @Html.ActionLink("Countries", "Index") 
> @Html.ActionLink(Model.Detail, "Details", "Country", new { id = Model.countryID }, null)
> Deactivate</h6>

<fieldset>
    <legend>Are you sure you want to deactivate @Model.Detail?</legend>

    <div class="display-label">@Html.LabelFor(model=>model.Detail)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Detail)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    <p>
        <input type="submit" value="Deactivate" /> 
    </p>
}


