@model Tipstaff.Models.Country

@{
    ViewBag.Title = ViewBag.Title = string.Format("Edit country {0}", Model.Detail);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h6>@Html.ActionLink("Administration", "Index", "Admin") 
> @Html.ActionLink("Lookups", "Lookups", "Admin") 
> @Html.ActionLink("Countries","Index") 
> @Html.ActionLink(Model.Detail, "Details", "Country", new { id = Model.countryID }, null)
> Edit</h6>

	
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken();
    <fieldset>
        <legend>@ViewBag.Title</legend>
        @Html.HiddenFor(model => model.countryID)
        @Html.HiddenFor(model => model.active)

        <div class="editor-label">
            @Html.LabelFor(model => model.Detail, true)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Detail)
            @Html.ValidationMessageFor(model => model.Detail)
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

