@model Tipstaff.Models.Solicitor

@{
    ViewBag.Title = string.Format("Details of {0}", Model.solicitorName);
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h6>@Html.ActionLink("Administration", "Index", "Admin") 
> @Html.ActionLink("Lookups", "Lookups", "Admin") 
> @Html.ActionLink("Solicitors", "Index") 
> @Model.solicitorName</h6>
<fieldset>
    <legend>@ViewBag.Title</legend>

    <div class="display-label">@Html.LabelFor(model => model.solicitorName)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.solicitorName)
    </div>
    
    <div class="display-label">@Html.LabelFor(model => model.SolicitorFirm.firmName)</div>
    <div class="display-field">
    @if (Model.solicitorFirmID != null)
    {
        @Html.ActionLink(Model.SolicitorFirm.firmName, "Details", "SolicitorFirm", new { id = Model.solicitorFirmID }, null)
    }
    </div>

    <div class="display-label">@Html.LabelFor(model => model.salutationID)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.salutationID)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.phoneDayTime)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.phoneDayTime)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.phoneOutofHours)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.phoneOutofHours)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.email)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email)
    </div>
</fieldset>
<p>
    @if (Model.active == true)
    {
        @Html.ActionLink("Edit", "Edit", new { id=Model.solicitorID })
    }
</p>
