@model Tipstaff.Models.FAQ
@{
    ViewBag.Title = "Create FAQ";
}
@section head {
    <script type="text/javascript" src="@Url.Content("~/Scripts/jHtmlArea-0.7.0.min.js")" charset="utf-8"></script>
    <link href="@Url.Content("~/Content/jHtmlArea.css")"  rel="stylesheet" type="text/css"/>
    
    <style type="text/css">
        /* body { background: #ccc;} */
        div.jHtmlArea .ToolBar ul li a.custom_disk_button 
        {
            background: url(images/disk.png) no-repeat;
            background-position: 0 0;
        }
        
        div.jHtmlArea { border: solid 1px #ccc; }
        #answer  
        {
        	width:600px;
        	height:200px;
        }
    </style>
}
<script type="text/javascript">
    $(function () {

        $("#answer").htmlarea({
            // Override/Specify the Toolbar buttons to show
            toolbar: [
                    ["bold", "italic", "underline"],
                    ["h1", "h2"], ["orderedlist", "unorderedlist"]
                ],

            // Do something once the editor has finished loading
            loaded: function () {
                //this.showHTMLView(); // show the HTML view once the editor has finished loading
            }
        });
    });
</script>
<h6>@Html.ActionLink("Frequently Asked Questions","Index") > Create</h6>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>FAQ</legend>

        <div class="editor-label">
            Is the FAQ for logged in users?
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.loggedInUser)
            @Html.ValidationMessageFor(model => model.loggedInUser)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.question, true)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.question)
            @Html.ValidationMessageFor(model => model.question)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.answer, true)
        </div>
        
            @Html.EditorFor(model => model.answer)
            @Html.ValidationMessageFor(model => model.answer)
 
            <input type="submit" value="Create" />
 
    </fieldset>
}