@model IEnumerable<Tipstaff.Models.FAQ>

@{
    ViewBag.Title = "Frequently Asked Questions";
}
<h6>@ViewBag.Title</h6>
@if (Request.IsAuthenticated)
{
    if (User.IsInRole("Admin"))
    {
            @Html.ActionLink("Add New FAQ", "Create")
    }
}
@foreach (var item in Model.OrderBy(f=>f.loggedInUser))
{
    <dl>
        <dt>@if (Request.IsAuthenticated) 
            {
                if (User.IsInRole("Admin"))
                {
                @Html.Raw(Html.Image(Url.Content("~/Images/status_" + (item.loggedInUser ? "online" : "locked") + ".png"), string.Format("{0} FAQ" , (item.loggedInUser ? "Online" : "Offline")), null))
                }
            }
            @Html.DisplayFor(modelItem => item.question)
            @if (Request.IsAuthenticated)
            {
                if (User.IsInRole("Admin"))
                {
                   @Html.ImageLink(Url.Content("~/Images/arrow_refresh_small.png"), "Amend FAQ", "Edit", "FAQ", new { id = item.faqID }, null, null)  
                }
            }
        </dt>
        <dd>@Html.Raw(item.answer)</dd>
    </dl>
}