@model Tipstaff.Models.ListAddressesByTipstaffRecord
<div id="addressList">

@if ((Model.Addresses == null) || (Model.Addresses.Count() == 0))
{
      <div>No addresses entered</div>
}
else
{
<table width="100%" style="padding-top:5px;margin-top:5px;">
    <tr>
        @if (!Model.TipstaffRecordClosed)
        {
            <td style="width: 40px;background-color: #dddddd">&nbsp;</td>
}
        <th>
            Address
        </th>
        <th>
            Telephone
        </th>
        <th>
            @Html.LabelFor(model => model.Applicants.First().email)
        </th>
    </tr>

	@{var isAltRow = false;
   foreach (var item in Model.Addresses)
   {
        <tr class="@(isAltRow ? "altRow" : "")">
        @if (!Model.TipstaffRecordClosed)
        {
            <td>
            @if (User.IsInRole("Admin"))
            {
                @Html.ImageLink(Url.Content("~/Images/delete.png"), "Delete", "Delete", "Address", new { id = item.addressID }, null, null) 
            }
                @Html.ImageLink(Url.Content("~/Images/arrow_refresh.png"), "Amend Address", "Edit", "Address", new { id = item.addressID }, null, null)
            </td>
        }
        <td>
            @Html.ImageAndTextLink(Url.Content("~/Images/view.png"), item.outputAddressSingleLine, string.Format("View {0}", item.outputAddressSingleLine), "Details", "Address", new { id = item.addressID }, null, null, "createButton") 
        </td>
        <td>
            @item.phone
        </td>
        <td>
            @item.email
        </td>
    </tr>
    isAltRow = !isAltRow;
   }
}
</table>
}
@Html.AjaxPager(Model.Addresses, "ListAddressesByRecord", "Address"
                                    , new Tipstaff.PagerOptions
                                    {
                                        ShowFirstLast = true,
                                        ShowPrevNext=true,
                                        ShowNumericPagerItems=true,
                                        AlwaysShowFirstLastPageNumber=true,
                                        CssClass = "PagedList-pager"
                                    }
                                    , new RouteValueDictionary(new { id = Model.tipstaffRecordID })
                                    , new AjaxOptions
                                    {
                                        HttpMethod = "POST",
                                        UpdateTargetId = "addressList",
                                        InsertionMode = InsertionMode.Replace,
                                        LoadingElementId = "addressLoading"
                                    })

</div>
