@model Tipstaff.Models.Salutation

@{
    ViewBag.Title = string.Format("Details for salutation {0}", Model.Detail);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>@ViewBag.Title</h1>
<h6>@Html.ActionLink("Administration", "Index", "Admin") 
> @Html.ActionLink("Lookups", "Lookups", "Admin") 
> @Html.ActionLink("Salutations", "Index") 
> @Model.Detail</h6>
<fieldset>
    <legend>@ViewBag.Title</legend>

    <div class="display-label">@Html.LabelFor(model => model.Detail)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Detail)
    </div>
    @if (Model.deactivated != null)
    {
    <div class="display-label">
        @Html.LabelFor(model => model.deactivated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.deactivated)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.deactivatedBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.deactivatedBy)
    </div>
    }
</fieldset>
<p>
    @if (Model.active == true)
    {
        @Html.ActionLink("Edit", "Edit", new { id=Model.salutationID })
    }
</p>
